<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=College_name%> Fests</title>
  </head>
  <body>
    <h1><%=College_name%> Fests</h1>
    <% for(i=0;i<fests.length;i++){ %>
    <p>Fest Name: <%=fests[i].fest_name%></p>
    <p>description: <%=fests[i].description%></p>
    <% if(fests[i].website_link != ""){%>
    <p>Website : <a href="<%=fests[i].website_link%>"><%=fests[i].website_link%></a></p>
    <%}%>
    <% if(fests[i].image != ""){%>
    <p>image : <%=fests[i].image%></p>
    <%}%>
  <%} %>

  </body>
</html>
