<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Remove <%=College_name%> Fest</title>
  </head>
  <body>
    <p><%=College_name%> Fests:</p>
    <form class="" action="" method="post">
      <% for(i=0;i<All_fest.length;i++){ %>
        <input type="hidden" name="id" value=<%=All_fest[i]._id%>>
        <p><input type="checkbox" name="delete_fest" value=<%=All_fest[i].fest_name%> </input> Fest Name: <%=All_fest[i].fest_name%></p>
        <p>description: <%=All_fest[i].description%></p>
        <% if(All_fest[i].website_link != ""){%>
        <p>Website : <a href="<%=All_fest[i].website_link%>"><%=All_fest[i].website_link%></a></p>
        <%}%>
        <% if(All_fest[i].image != ""){%>
        <p>image : <%=All_fest[i].image%></p>
        <%}%>
        <%}%>
        <p>All Selected Fests will be deleted</p>
        <button type="action" name="button">Delete</button>
    </form>
  </body>
</html>
